.text{
    color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .whoweare{
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    width: 550px;    
}
.row-12{
    background-color: red;
}

.whoweare-pic{
    border: 20px;
}

.whoweare-bio{
    text-align: center;
    margin: 40px;
}
/* @media screen and (max-width: 991px) {
    .whoarewe-bio{
     text-align: center;
   }
 } */

