.text{
    color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 .whoweare{
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    width: 550px;    
}
.row-12{
    background-color: red;
}

.whoweare-pic{
    border: 20px;
    margin-bottom: 70px;
}

.whoweare-bio{
    text-align: center;
    font-size: large;
}
@media screen and (min-width: 991px) {
    .whoweare-bio{
     text-align: center;
   }
 }

