<div class="page5">
    <div class="row ">
        <div class="row-12">
            
            <div class=" col col-sm-12 p-3 mb-2 text-white"></div>
        </div>
        <div class=" col col-sm-11 col-lg-5 getintouch">
            <h1 class="display-5 font-weight-bold text-white">GET IN TOUCH</h1>
            <br>
            <h5 class="h5-tags text-nowrap">Mailing Address</h5>
            <p class="p-tags text-nowrap">51124 R.R 224, Sherwood park, Alberta, T8C 1H1</p>
            <br>
            <h5 class="h5-tags">Email Address</h5>
            <p class="p-tags">steven@brwallandceiling.com</p>
            <br>
            <h5 class="h5-tags">Phone Number</h5>
            <p class="p-tags">(780) 245-1301</p>
            <br>
        </div>
        
        <div class="col col-sm-12 col-lg-6 text-nowrap">
            <h1 class="display-5 upload-resume" >
                <a href="steven@brwallandceiling.com" class="text-white">UPLOAD RESUME</a>
            </h1>
        </div>
    </div>
   
</div>