.page3{
    background-color: black;
}
.redline-upper{
    background-color: red;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.whatweoffer{
    text-align: center;
    color: white;
    margin: 90px;  
}
.tag-links{
    text-align: center;
    margin-top: 100px;
}
.a-ref{
    color: red;
    font-size: 18px;
    margin-bottom: 50px;
}