<div class="page3">
    <div class="row-12">
        <div class="p-3 mb-2 redline-upper"></div>
    </div>
    <div class="row">
        <div class="col whatweoffer">
            <h1 class="display-5 font-weight-bold text-nowrap text">WHAT WE OFFER</h1>
        </div>
    </div>
    
    <div class="row tag-links">
        <div class="col a-ref">
            <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/commercial.jpg" alt="COMMERCIAL">
            <a href="" class="font-weight-bold a-ref">COMMERCIAL</a>
        </div>

        <div class="col font-weight-bold">
            <img class="w-100 rounded gallery-imgs" style=" height: 300px; object-fit: cover;" src="../../assets/Residential.jpg" alt="RESIDENTIAL">
            <a href="" class="font-weight-bold a-ref">RESIDENTIAL</a>
        </div>
    </div>
</div>

