.row-12{
    background-color: red;
}

.text-gallery{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery-imgs{
    padding: 10px;
}
.gallery-vintage{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery-residential{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery-beforeafter{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery-commercial{
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}